.demo-table-body{
    width: 400px;
}

.current-date-div{
    display: grid;
    grid-template-columns: 100px 100px;
    margin-left: 100px;
}

.output-cells{
    width: 100px;

}
.demo-decider{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.new-member-button, .existing-member-button{
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
    /*cursor: pointer;*/

}
.new-member-button:hover, .existing-member-button:hover{
    border-width: 2px;
    border-style: solid;
}

.new-member-button{
    background-color: rgb(52, 110, 227);

}

.existing-member-button{
    background-color: rgb(52, 227, 99);

}
.demo-anchors{
    display: inline-block;
    font-size: 40px;
    padding: 120px;
    padding-bottom: 170px;
    cursor: pointer;
}



.demo-pos-div{
    margin-left: 0px;
    margin-top: 0px;
}
.demo-p{
    margin: 0;
}

.table1-div {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.input-header{
    background-color: rgb(180, 180, 180);
}
.output-header{
    background-color: rgb(0, 0, 0);
    color: white;
}


.table-title{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 100px;
}

.main-table {
    width: 90%;
    margin-left: 100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
    
}


.refresh-button{
    position: sticky;
    margin-top: 20px;
    left: 100px;
    height: 50px;
    font-size: 25px;
}

.demo-table-body{
    width: 2000px;
}